{% extends '::base.html.twig' %}


{% block body %}
	{#{{ dump(formUser.address) }}#}

	{{ form_start(formUser) }}
	{{ form_row(formUser.name) }}
	{{ form_row(formUser.address) }}
	{#{% for adr in formUser.address %}#}
		{#<div>#}
			{#{{ form_label(adr) }}#}
		{#</div>#}
		{#&#123;&#35;{{ dump(adr) }}&#35;&#125;#}
		{#&#123;&#35;{{ form_row(adr.name) }}&#35;&#125;#}
		{#&#123;&#35;{{ form_row(adr.city) }}&#35;&#125;#}
		{#&#123;&#35;{{ form_row(adr.street) }}&#35;&#125;#}
		{#&#123;&#35;{{ form_row(adr.home) }}&#35;&#125;#}
			{#&#123;&#35;{{ form_row(adr.name) }}&#35;&#125;#}
			{#&#123;&#35;<label for="">opts</label>&#35;&#125;#}
			{#&#123;&#35;{% for opt in char.opts %}&#35;&#125;#}
				{#&#123;&#35;{{ form_row(adr.text) }}&#35;&#125;#}
			{#&#123;&#35;{% endfor %}&#35;&#125;#}
	{#{% endfor %}#}
	{{ form_row(formUser.submit) }}
	{{ form_end(formUser) }}
{% endblock %}


{% block javascripts %}
	<script type="text/javascript">
		var $collectionHolder;

		// setup an "add a tag" link
		var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
		var $newLinkLi = $('<div />').append($addTagLink);

		function addTagForm($collectionHolder, $newLinkLi) {
			// Get the data-prototype explained earlier
			var prototype = $collectionHolder.data('prototype');

			// get the new index
			var index = $collectionHolder.data('index');

			// Replace '__name__' in the prototype's HTML to
			// instead be a number based on how many items we have
			var newForm = prototype.replace(/__name__/g, index);

			// increase the index with one for the next item
			$collectionHolder.data('index', index + 1);

			// Display the form in the page in an li, before the "Add a tag" link li
			var $newFormLi = $('<div/>').append(newForm);
			$newLinkLi.before($newFormLi);
		}

		jQuery(document).ready(function() {
			// Get the ul that holds the collection of tags
			$collectionHolder = $('#user_address');

			// add the "add a tag" anchor and li to the tags ul
			$collectionHolder.append($newLinkLi);

			// count the current form inputs we have (e.g. 2), use that as the new
			// index when inserting a new item (e.g. 2)
			$collectionHolder.data('index', $collectionHolder.find(':input').length);

			$addTagLink.on('click', function(e) {
				// prevent the link from creating a "#" on the URL
				e.preventDefault();

				// add a new tag form (see next code block)
				addTagForm($collectionHolder, $newLinkLi);
			});
		});
	</script>
{% endblock %}