{% extends '::base.html.twig' %}


{% block body %}
    {{ dump(form) }}

    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/lib/select2/dist/css/select2.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/question.css') }}"/>
{% endblock %}
{% block javascripts %}
   {{ parent() }}
    <script src="{{ asset('bundles/app/lib/select2/dist/js/select2.full.min.js') }}  "></script>
    <script src="{{ asset('bundles/app/lib/select2/dist/js/i18n/ru.js') }}  "></script>


    <script type="text/javascript">
        $(function(){
            $('select').select2({
                tags: true
            });
        });
    </script>

{% endblock %}