{% extends '::base.html.twig' %}


{% block body %}
    {{ dump(name) }}


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}